*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%; 
    height: 55%;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 700px;
}

#container div{
height: 160px;
border:  solid black 2px;
flex-basis: 32.5%;
}

h1{
    color: #000;
    text-align: center;
    font-size: 70px;
    letter-spacing: 1.5px;
    margin: 2vh ;
}

h3{
    text-align: center;
    font-size: 30px;
}

#score{
    margin-top: 5vh;
}

#score div, #score div section{
    display: flex;
    flex-direction: row; 
}

#score div{
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

#score div section{
    gap:  20px;
}

#score > h3{
    text-decoration: underline;

}

p{
    text-align: center;
    transition: all 1s infinite;
}

#buttons{
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; */
}

#btnDiv{
    margin: 2vh auto;
}

button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
}

button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    button {
        padding: 0.25em 0.75em;
    }
}

/* @media only screen and  (max-width: 800px){

} */

